<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All News - Site de Notícias</title>
  <link rel="stylesheet" href="styles/all-jobs.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="/scripts/all-jobs.js" defer></script>
</head>

<body>
  <header>
    {{> navbar}}
  </header>
  <div class="container">
    <main class="main">
      <section class="all-news">
        <h1>All jobs</h1>
        <div class="news-grid">
          {{#each listaEmpregos}}
          <div class="news-card" data-id="{{this.id}}">
            <img src="{{this.imagemUrl}}" class="news-image">
            <div class="news-body">
              <div class="news-category">{{this.tipoEmprego}}</div>
              <h3 class="news-title">{{this.nomeEmpresa}}</h3>
              <p class="news-description">{{this.titulo}}</p>
              <div class="card-footer">
                <a href="/emprego/{{this.id}}" class="read-more">Read More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                </a>
                <div class="card-actions">
                  <form action="/empregos/curtida/{{this.id}}" method="POST">
                    {{#if this.curtido}}
                    <button class="cleberson" type="submit"><i class="favorite fa-solid fa-heart"></i></button>
                    {{else}}
                    <button class="cleberson" type="submit"><i class="favorite fa-regular fa-heart"></i></button>
                    {{/if}}
                  </form>
                  <span class="like-count">{{total_curtidas}}</span>
                  {{#isAdmin ../usuarioLogado.role}}

                  <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>

                  <button class="delete" onclick="deleteProduct({{this.id}})"><i
                      class="fa-solid fa-trash-can"></i></button>
                  {{/isAdmin}}

                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </section>
    </main>
  </div>
</body>

</html>