<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site de Notícias</title>
  <link rel="stylesheet" href="styles/dashboard.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="scripts/dashboard.js" defer></script>
</head>

<body>
  <header>
    {{> navbar}}
  </header>
  <div class="carousel-container">
    <div class="carousel">
      {{#each (limit listaNoticias 5)}}
      <div class="carousel-item">
        <div class="carousel-card">
          <img src="images/profile.jpg" class="news-image" alt="{{this.titulo}}">
          <div class="news-content">
            <h3 class="news-title">{{this.titulo}}</h3>
            <p class="news-description">{{this.descricao}}</p>
            <a href="/noticia/{{this.id}}" class="read-more">Leia mais</a>
          </div>
        </div>
      </div>
      {{/each}}
      <a href="#" class="carousel-nav prev"><i class="fas fa-chevron-left"></i></a>
      <a href="#" class="carousel-nav next"><i class="fas fa-chevron-right"></i></a>
    </div>
  </div>


  <div class="container">
    <main class="main">
      <section class="latest-news">
        <div class="section-content">
          <div class="latest-news-header">
            <h2>Latest News</h2>
            <a href="/noticias" class="viewall">View All</a>
          </div>
          <div class="news-grid">
            {{#each (limit listaNoticias 3)}}
            <div class="news-card" data-id{{this.id}}>
              <img src="images/profile.jpg" class="news-image">
              <div class="news-body">
                <div class="news-category">{{this.categoria}}</div>
                <h3 class="news-title">{{this.titulo}}</h3>
                <p class="news-description">{{this.descricao}}</p>
                <a href="/noticia/{{this.id}}" class="read-more-g">Leia mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>

      <section class="partners">
        <div class="section-content">
          <div class="partners-header">
            <h2>Our Partners</h2>
            <a href="/parceiros" class="viewall">View All</a>
          </div>
          <div class="partners-grid">
            {{#each (limit listaParceiros 3)}}
            <div class="partner-card" data-id={{this.id}}>
              <img src="images/logo.png" class="partner-logo" alt="{{this.nome}}">
              <div class="partner-body">
                <div class="news-category">Parceiros desde: {{this.data_criacao}}</div>
                <h3 class="partner-name">{{this.titulo}}</h3>
                <p class="partner-description">{{this.descricao}}</p>
                <a href="/parceiros" class="read-more-g">Leia mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="jobs">
        <div class="section-content">
          <div class="jobs-header">
            <h2>Job Opportunities</h2>
            <a href="/empregos" class="viewall">View All</a>
          </div>
          <div class="jobs-grid">
            {{#each (limit listaEmpregos 3)}}
            <div class="job-card" data-id={{this.id}}>
              <img src="images/profile.jpg" class="news-image" alt="{{this.titulo}}">
              <div class="job-body">
                <div class="news-category">{{this.localizacao}}</div>
                <h3 class="job-title">{{this.nomeEmpresa}}</h3>
                <p class="job-company">{{this.titulo}}</p>
                <p class="job-description">{{this.descricao}}</p>
                <a href="/emprego/{{this.id}}" class="read-more-g">Leia mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="events">
        <div class="section-content">
          <div class="events-header">
            <h2>Eventos</h2>
            <a href="/eventos" class="viewall">Ver Todos</a>
          </div>
          <div class="events-grid">
            {{#each (limit listaEventos 3)}}
            <div class="event-card" data-id={{this.id}}>
              <img src="{{this.imagem}}" class="event-image" alt="{{this.titulo}}">
              <div class="event-body">
                <p class="event-date">{{this.dataInicio}}</p>
                <h3 class="event-title">{{this.nomeEvento}}</h3>
                <p class="event-description">{{this.descricao}}</p>
                <a href="/evento/{{this.id}}" class="read-more-g">Saiba Mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>

    </main>
  </div>

  <aside class="aside">
    <div class="aside-content">
      <div class="categories">
        <h2>Categories</h2>
        <nav class="categories-nav">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="category-icon">
              <path
                d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-2 2Zm0 0a2 2 0 0 1-2-2v-9c0-1.1.9-2 2-2h2">
              </path>
              <path d="M18 14h-8"></path>
              <path d="M15 18h-5"></path>
              <path d="M10 6h8v4h-8V6Z"></path>
            </svg>
            <span>Noticias</span>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="category-icon">
              <path d="M17.28 9.05a5.5 5.5 0 1 0-10.56 0A5.5 5.5 0 1 0 12 17.66a5.5 5.5 0 1 0 5.28-8.6Z"></path>
              <path d="M12 17.66L12 22"></path>
            </svg>
            <span>Esportes</span>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="category-icon">
              <path d="M19.09 20.91a8 8 0 1 0-14.18-7.72A5 5 0 0 0 2 18a8 8 0 0 0 17.09 2.91z"></path>
              <path d="M5.9 12.29A8 8 0 0 0 12 16.16a8 8 0 0 0 6.09-3.87A8 8 0 0 0 5.9 12.29z"></path>
            </svg>
            <span>Negocios</span>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="category-icon">
              <path d="M6 16V6a6 6 0 0 1 12 0v10a6 6 0 0 1-12 0z"></path>
              <path d="M9 20h6"></path>
            </svg>
            <span>Tecnologia</span>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="category-icon">
              <path d="M19 20H5a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2z"></path>
              <path d="M4 6h16"></path>
              <path d="M4 10h16"></path>
              <path d="M4 14h16"></path>
              <path d="M4 18h16"></path>
            </svg>
            <span>Entretenimento</span>
          </a>
        </nav>
      </div>
    </div>
    <button id="openModal">Adicionar Notícia</button>
    <button id="openPartnerModal">Adicionar Parceiro</button>
  </aside>
  </div>

  <form method="POST" action="/noticias/create">
    <div id="addNewsModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Adicionar Nova Notícia</h2>
          <span class="close">&times;</span>
        </div>

        <div class="form-group">
          <label for="title">Título:</label>
          <input type="text" id="title" name="title" required maxlength="100">
        </div>
        <div class="form-group">
          <label for="description">Descrição:</label>
          <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="content">Conteúdo:</label>
          <textarea id="content" name="content" required></textarea>
        </div>
        <div class="form-group">
          <label for="category">Categoria:</label>
          <select id="category" name="category" required>
            <option value="">Selecione uma categoria</option>
            <option value="Esportes">Esportes</option>
            <option value="Negocios">Negócios</option>
            <option value="Tecnologia">Tecnologia</option>
            <option value="Entretenimento">Entretenimento</option>
            <option value="Ciencias">Ciências</option>
          </select>
        </div>
        <button type="submit">Adicionar Notícia</button>
      </div>
    </div>
  </form>



  <form method="POST" action="/parceiros/create">
    <div id="addPartnerModal" class="modal partner-modal">
      <div class="modal-content partner-modal-content">
        <div class="modal-header partner-modal-header">
          <h2 class="modal-title">Adicionar Novo Parceiro</h2>
          <span class="close">&times;</span>
        </div>
        <div class="form-group">
          <label for="partnerTitle">Nome: </label>
          <input type="text" id="partnerTitle" name="ptitle" required>
        </div>
        <div class="form-group">
          <label for="partnerDescription">Descrição:</label>
          <textarea id="partnerDescription" name="pdescription" required></textarea>
        </div>
        <div class="form-group">
          <label for="partnerContent">Conteúdo:</label>
          <textarea id="partnerContent" name="pcontent" required></textarea>
        </div>
        <button type="submit" class="partner-submit-btn">Adicionar Parceiro</button>

      </div>
    </div>
  </form>


  <footer>
    {{> footer}}
  </footer>
</body>

</html>