<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site de Notícias</title>
  <link rel="stylesheet" href="/styles/dashboard.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="scripts/dashboard.js" defer></script>
</head>

<body>
  <header>
    {{> navbar}}
  </header>
  <div class="carousel-container">
    <div class="carousel">
      {{#each (limit listaNoticias 5)}}
      <div class="carousel-item">
        <div class="carousel-card">
          <img src="{{this.imagemUrl}}" class="news-image" alt="{{this.titulo}}">
          <div class="news-content">
            <h3 class="news-title">{{this.titulo}}</h3>
            <p class="news-description">{{this.descricao}}</p>
            <a href="/noticia/{{this.id}}" class="read-more">Leia mais</a>
          </div>

        </div>
      </div>
      {{/each}}
      <a href="#" class="carousel-nav prev"><i class="fas fa-chevron-left"></i></a>
      <a href="#" class="carousel-nav next"><i class="fas fa-chevron-right"></i></a>
    </div>
  </div>


  <div class="container">
    <main class="main">
      <section class="latest-news">
        <div class="section-content">
          <div class="latest-news-header">
            <h2>Ultimas Notícias</h2>
            <a href="/noticias" class="viewall">Ver todos</a>
          </div>
          <div class="news-grid">
            {{#each (limit listaNoticias 3)}}
            <div class="news-card" data-id{{this.id}}>
              <img src="{{this.imagemUrl}}" class="news-image">
              <div class="news-body">
                <div class="news-category">{{this.categoria}}</div>
                <h3 class="news-title">{{this.titulo}}</h3>
                <p class="news-description">{{this.descricao}}</p>
                <a href="/noticia/{{this.id}}" class="read-more-g">Leia mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                  <div class="card-actions">
                    <form action="/noticias/curtida/{{this.id}}" method="POST">
                      {{#if this.curtido}}
                      <button class="cleberson" type="submit"><i class="favorite fa-solid fa-heart"></i></button>
                      {{else}}
                      <button class="cleberson" type="submit"><i class="favorite fa-regular fa-heart"></i></button>
                      {{/if}}
                    </form>
                    <span class="like-count">{{total_curtidas}}</span>
                  </div>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>

      <section class="partners">
        <div class="section-content">
          <div class="partners-header">
            <h2>Nossos parceiros</h2>
            <a href="/parceiros" class="viewall">Ver todos</a>
          </div>
          <div class="partners-grid">
            {{#each (limit listaParceiros 3)}}
            <div class="partner-card" data-id={{this.id}}>
              <img src="{{this.imagemUrl}}" class="news-image">
              <div class="partner-body">
                <div class="news-category">Parceiros desde: {{this.data_criacao}}</div>
                <h3 class="partner-name">{{this.titulo}}</h3>
                <p class="partner-description">{{this.descricao}}</p>
                <a href="/parceiros" class="read-more-g">Leia mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                  <div class="card-actions">
                    <form action="/parceiros/curtida/{{this.id}}" method="POST">
                      {{#if this.curtido}}
                      <button class="cleberson" type="submit"><i class="favorite fa-solid fa-heart"></i></button>
                      {{else}}
                      <button class="cleberson" type="submit"><i class="favorite fa-regular fa-heart"></i></button>
                      {{/if}}
                    </form>
                    <span class="like-count">{{total_curtidas}}</span>
                  </div>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="jobs">
        <div class="section-content">
          <div class="jobs-header">
            <h2>Oportunidades de emprego</h2>
            <a href="/empregos" class="viewall">Ver todos</a>
          </div>
          <div class="jobs-grid">
            {{#each (limit listaEmpregos 3)}}
            <div class="job-card" data-id={{this.id}}>
              <img src="{{this.imagemUrl}}" class="news-image" alt="{{this.titulo}}">
              <div class="job-body">
                <div class="news-category">{{this.localizacao}}</div>
                <h3 class="job-title">{{this.nomeEmpresa}}</h3>
                <p class="job-company">{{this.titulo}}</p>
                <p class="job-description">{{this.descricao}}</p>
                <a href="/emprego/{{this.id}}" class="read-more-g">Leia mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                  <div class="card-actions">
                    <form action="/empregos/curtida/{{this.id}}" method="POST">
                      {{#if this.curtido}}
                      <button class="cleberson" type="submit"><i class="favorite fa-solid fa-heart"></i></button>
                      {{else}}
                      <button class="cleberson" type="submit"><i class="favorite fa-regular fa-heart"></i></button>
                      {{/if}}
                    </form>
                    <span class="like-count">{{total_curtidas}}</span>
                  </div>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="events">
        <div class="section-content">
          <div class="events-header">
            <h2>Eventos</h2>
            <a href="/eventos" class="viewall">Ver Todos</a>
          </div>
          <div class="events-grid">
            {{#each (limit listaEventos 3)}}
            <div class="event-card" data-id={{this.id}}>
              <img src="{{this.imagemUrl}}" class="event-image" alt="{{this.titulo}}">
              <div class="event-body">
                <p class="event-date">{{this.dataInicio}}</p>
                <h3 class="event-title">{{this.nomeEvento}}</h3>
                <p class="event-description">{{this.descricao}}</p>
                <a href="/evento/{{this.id}}" class="read-more-g">Saiba Mais
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="read-more-icon-g">
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                  <div class="card-actions">
                    <form action="/eventos/curtida/{{this.id}}" method="POST">
                      {{#if this.curtido}}
                      <button class="cleberson" type="submit"><i class="favorite fa-solid fa-heart"></i></button>
                      {{else}}
                      <button class="cleberson" type="submit"><i class="favorite fa-regular fa-heart"></i></button>
                      {{/if}}
                    </form>
                    <span class="like-count">{{total_curtidas}}</span>
                  </div>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </section>

    </main>
  </div>

  <aside class="aside">
    <div class="aside-content">
      {{#ifCond usuarioLogado.role '==' 'admin'}}
      <div class="categories">
        <h2>Menu criador</h2>
      </div>
    </div>
    <div class="dashboard-buttons">
      <a href="/criar-noticia"><button class="dashboard-button">Adicionar Notícia</button></a>
      <button id="openPartnerModal" class="dashboard-button">Adicionar Parceiro</button>
      <button id="openJobModal" class="dashboard-button">Adicionar Vaga de Emprego</button>
      <button id="openEventModal" class="dashboard-button">Adicionar Evento</button>
    </div>
    {{/ifCond}}

  </aside>
  </div>

  <form method="POST" action="/empregos/create" enctype="multipart/form-data">
    <div id="addJobModal" class="modal job-modal">
      <div class="modal-content job-modal-content">
        <div class="modal-header job-modal-header">
          <h2 class="modal-title">Adicionar Nova Oportunidade de Emprego</h2>
          <span class="close">&times;</span>
        </div>
        <div class="form-group">
          <label for="nomeEmpresa">Nome da Empresa:</label>
          <input type="text" id="nomeEmpresa" name="nomeEmpresa" required>
        </div>
        <div class="form-group">
          <label for="titulo">Título da Vaga:</label>
          <input type="text" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
          <label for="conteudo">Descrição da Vaga:</label>
          <textarea id="conteudo" name="conteudo" required></textarea>
        </div>
        <div class="form-group">
          <label for="localizacao">Localização:</label>
          <input type="text" id="localizacao" name="localizacao" required>
        </div>
        <div class="form-group">
          <label for="tipoEmprego">Tipo de Emprego:</label>
          <select id="tipoEmprego" name="tipoEmprego" required>
            <option value="">Selecione o tipo</option>
            <option value="Tempo Integral">Tempo Integral</option>
            <option value="Meio Período">Meio Período</option>
          </select>
        </div>
        <div class="form-group">
          <label for="salario">Salário:</label>
          <input type="number" id="salario" name="salario" required min="0" step="0.01">
        </div>
        <div class="form-group">
          <label for="requisitos">Requisitos:</label>
          <textarea id="requisitos" name="requisitos" required></textarea>
        </div>
        <div class="form-group">
          <label for="beneficios">Benefícios:</label>
          <textarea id="beneficios" name="beneficios" required></textarea>
        </div>
        <div class="form-group">
          <label for="contato">Contato:</label>
          <input type="text" id="contato" name="contato" required>
        </div>
        <div class="form-group">
          <label for="image">Imagem:</label>
          <input type="file" id="image" name="image" accept="image/*">
        </div>
        <button type="submit" class="job-submit-btn">Adicionar Vaga</button>
  </form>
  </div>
  </div>



  <form method="POST" action="/parceiros/create" enctype="multipart/form-data">
    <div id="addPartnerModal" class="modal partner-modal">
      <div class="modal-content partner-modal-content">
        <div class="modal-header partner-modal-header">
          <h2 class="modal-title">Adicionar Novo Parceiro</h2>
          <span class="close">&times;</span>
        </div>
        <div class="form-group">
          <label for="partnerTitle">Nome: </label>
          <input type="text" id="partnerTitle" name="ptitle" required>
        </div>
        <div class="form-group">
          <label for="partnerDescription">Descrição:</label>
          <textarea id="partnerDescription" name="pdescription" required></textarea>
        </div>
        <div class="form-group">
          <label for="partnerContent">Conteúdo:</label>
          <textarea id="partnerContent" name="pcontent" required></textarea>
        </div>
        <div class="form-group">
          <label for="image">Imagem:</label>
          <input type="file" id="image" name="image" accept="image/*">
        </div>
        <button type="submit" class="partner-submit-btn">Adicionar Parceiro</button>

      </div>
    </div>
  </form>

  <form method="POST" action="/eventos/create" enctype="multipart/form-data">
    <div id="addEventModal" class="modal event-modal">
      <div class="modal-content event-modal-content">
        <div class="modal-header event-modal-header">
          <h2 class="modal-title">Adicionar Novo Evento</h2>
          <span class="close">&times;</span>
        </div>
        <div class="form-group">
          <label for="nomeEvento">Nome do Evento:</label>
          <input type="text" id="nomeEvento" name="nomeEvento" required>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <textarea id="descricao" name="descricao" required></textarea>
        </div>
        <div class="form-group">
          <label for="localizacao">Localização:</label>
          <input type="text" id="localizacao" name="localizacao" required>
        </div>
        <div class="form-group">
          <label for="dataInicio">Data de Início:</label>
          <input type="datetime-local" id="dataInicio" name="dataInicio" required>
        </div>
        <div class="form-group">
          <label for="dataFim">Data de Fim:</label>
          <input type="datetime-local" id="dataFim" name="dataFim" required>
        </div>
        <div class="form-group">
          <label for="tipoEvento">Tipo de Evento:</label>
          <select id="tipoEvento" name="tipoEvento" required>
            <option value="">Selecione o tipo de evento</option>
            <option value="Conferência">Conferência</option>
            <option value="Workshop">Workshop</option>
            <option value="Seminário">Seminário</option>
            <option value="Feira">Feira</option>
            <option value="Outro">Outro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="preco">Preço:</label>
          <input type="number" id="preco" name="preco" min="0" step="0.01" required>
        </div>

        <div class="form-group">
          <label for="linkInscricao">Link para Inscrição:</label>
          <input type="url" id="linkInscricao" name="linkInscricao">
        </div>
        <div class="form-group">
          <label for="image">Imagem:</label>
          <input type="file" id="image" name="image" accept="image/*">
        </div>
        <button type="submit" class="event-submit-btn">Adicionar Evento</button>
      </div>
    </div>
  </form>


  <footer>
    {{> footer}}
  </footer>
</body>

</html>