<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="/scripts/profile.js" defer></script>
</head>

<body>
    <header>
        {{> navbar}}
    </header>
       <div class="container2">
        <div class="header">
            <h1>Meu Perfil</h1>
        </div>
        <div class="profile-info">
            <img src="/images/profile.jpg" class="profile-pic" id="currentProfilePic">
            <h2>{{usuarioLogado.nome}}</h2>
        </div>
        <div class="tabs">
            <div class="tab active" onclick="showTab('profile')">Perfil</div>
            <div class="tab" onclick="showTab('edit')">Editar Perfil</div>
        </div>
        <div id="profile" class="content active">
            <div class="field">
                <label>Nome</label>
                <p>{{usuarioLogado.nome}}</p>
            </div>
            <div class="field">
                <label>E-mail</label>
                <p>{{usuarioLogado.email}}</p>
            </div>
            <div class="field">
                <label>Data de Registro</label>
                <p>{{usuarioLogado.createdAt}}</p>
            </div>
            <div class="field">
                <label>Cargo</label>
                <p>{{usuarioLogado.role}}</p>
            </div>
        </div>
        <div id="edit" class="content">
            <div class="field">
                <label for="email">E-mail</label>
                <input type="email" id="email" value="{{usuarioLogado.email}}">
            </div>
            <div class="field image-upload">
                <img src="/images/profile.jpg" alt="Pré-visualização da Imagem" class="image-preview" id="imagePreview">
                <input type="file" id="imageUpload" class="file-input" accept="image/*">
                <label for="imageUpload" class="file-label">Escolher Nova Imagem</label>
            </div>
            <div class="field">
                <label for="password">Nova Senha</label>
                <input type="password" id="password">
            </div>
            <div class="field">
                <label for="confirm-password">Confirmar Nova Senha</label>
                <input type="password" id="confirm-password">
            </div>
            <button class="edit-button">Salvar Alterações</button>
        </div>
    </div>
    <footer>
        {{> footer}}
    </footer>
</body>

</html>